* {
  box-sizing: border-box;
}
/* A pretty typical starting place */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #ffffff;
  color: #000000;
  /* margin-bottom: 30px; */
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 205%;
}

h3 {
  font-size: 200%;
}

/* Added symbols before and after the nav links */
nav li::before,
nav li::after {
  content: '\2022';
  color: #000000;
  padding: 1%;
  font-family: cursive;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #014caf;
}



/* Added the rest of the header text */
h1::after {
  font-family: Impact;
  content: 'Portfolio';
  color: #8ac4ff;
  margin-left: 5px;
}

h2::after {
  font-family: Impact;
  content: 'Here:';
  color: #8ac4ff;
  margin-left: 5px;
}

.mypic {
  background-color: #fff;
  width: 100%;
  height: 200px;
  background-image: url("../images/IMG_3350.JPG");
  background-size: cover;
  background-position: top;
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #2a607c;
  color: #ffffff;
}

footer nav {
  width: 400px;
}

.section {
   display: flex;

}

.left { 
  flex: 30%;
  text-align: center;
}

.right {
  flex: 70%;
}

.image {
  opacity: 1;
}

.image2 {
  opacity: 1;
}

.work-container {
  display: flex;
  flex-direction: column;

}

.work-container :hover .image {
  opacity: 0.3;
}

.work-container :hover .image2 {
  opacity: 0.3;
}

.work-container .row1 {
  display: flex;
}

.work-container .row1 img {
  width: 100%;
  padding: 5px;
}

.work-container .row2 {
  display: flex;
}

.work-container .row2 img { 
  width: 50%;
  padding: 5px;
}

.work-container .row3 {
  display: flex;
  /* gap: 30px; */
}

.work-container .row3 img {
  width: 50%;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  /* Stack the sidebar and body */
  header, main, footer {
    flex-direction: column;
  }
  
}
