* {
  box-sizing: border-box;
}
/* A pretty typical starting place */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #ffffff;
  color: #000000;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 205%;
}

h3 {
  font-size: 200%;
}

.work-container .row2 a {
  max-width: 50%;
}

/* Added symbols before and after the nav links */
nav li::before,
nav li::after {
  content: '\2022';
  color: #000000;
  padding: 1%;
  font-family: cursive;
}

/* header nav */
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #edf0f5;
}

/* Added the rest of the header text */
h1::after {
  font-family: Impact;
  content: 'Portfolio';
  color: #8ac4ff;
  margin-left: 5px;
}

h2::after {
  font-family: Impact;
  content: 'Here:';
  color: #8ac4ff;
  margin-left: 5px;
}

/* my picture under the header */
.mypic {
  background-color: #fff;
  width: 100%;
  height: 200px;
  background-image: url("../images/IMG_3350.JPG");
  background-size: cover;
  background-position: top;
  margin-bottom: 20px;
}

/* work pictures */
.bachpic {
  background-color: #fff;
  width: 100%;
  height: 200px;
  background-image: url("../images/Bachlorette.jpg");
  background-position-y: 75%;
  opacity: 1;
  border-radius: 5px;
}

h4 {
  text-decoration: none;
  color: #fff;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}


.bachpic:hover {
  opacity: 0.5;
}

.bbwpic {
  background-color: #fff;
  width: 100%;
  height: 200px;
  background-image: url("../images/BBW.jpg");
  background-position-y: 20%;
  opacity: 1;
  border-radius: 5px;
}

.bbwpic:hover {
  opacity: 0.5;
}

.studiopic {
  background-color: #fff;
  width: 100%;
  height: 200px;
  background-image: url("../images/IMG_8006.jpeg");
  background-position-y: 20%;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 5px;
}

.studiopic:hover {
  opacity: 0.5;
}

.notepic {
  background-color: #fff;
  width: 100%;
  height: 200px;
  background-image: url("../images/note.jpg");
  background-position-y: center;
  opacity: 1;
  border-radius: 5px;
}

.notepic:hover {
  opacity: 0.5;
}

.flampic {
  background-color: #fff;
  width: 100%;
  height: 200px;
  background-image: url("../images/Flam\ Swiss\ Army\ Trip.jpg");
  background-position-y: center;
  background-position-y: 20%;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 5px;
}

.flampic:hover {
  opacity: 0.5;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #2a607c;
  color: #ffffff;
}

footer nav {
  width: 400px;
}

.section {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}

.left { 
  flex: 30%;
  text-align: right;
  padding-right: 60px;
}

.right {
  flex: 70%;
}

/* my container for clickable pics */
.work-container {
  display: flex;
  flex-direction: column;
  padding: 5px;

}

.work-container :hover .image {
  opacity: 0.3;
}

.work-container :hover .image2 {
  opacity: 0.3;
}

.work-container .row1 {
  display: flex;
  gap: 5px;
  margin-bottom: 3px;
}

.work-container .row1 img {
  width: 100%;
  padding: 5px;
}

.work-container .row2 {
  display: flex;
  gap: 5px;
  margin-bottom: 3px;
}

.work-container .row2 img { 
  width: 50%;
  padding: 5px;
}

.work-container .row3 {
  display: flex;
  gap: 5px;
}

.work-container .row3 img {
  width: 50%;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  /* Stack the sidebar and body */
  header, main, footer {
    flex-direction: column;
  }
  
}
